<h1>Edit Survey: <%= @survey.title %></h1>

<%= form_for @survey do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, placeholder: "Update Title", class: "form-control", required: "true" %>
  <%= f.submit class: "btn btn-primary"%> 
<% end %>
